/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-07-18, 21:36:57
    Author     : vkalashnykov
*/
body {
    background: #ccc;
}
